# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User Exclusions
DESIGN/
background_dash.jpeg
background_log.jpeg
Traveloop - 8 hours.svg
Traveloop_PRD.md
trip_ref.png
seed/serviceAccountKey.json
